body{
    background-color: #282c34;
}

#game-title{
    color: white;
    font-family: Arial;
    font-size: 3rem;
    text-align: center;
    margin-top: 80px;
}

#intro-form{
    background-color: #484f58;
    width: 800px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.input-container{
    margin: 20px 20px 20px;
    display: flex;
}

.text-input{
    font-size: 3rem;
    flex: 60%;
}

.intro-btn{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 3rem;
    flex: 30%;
}

#intro-create-btn{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}